{% extends "layout.html" %}
{% block content%}
<div class="row">
    <div class="n-responsive">
        <div class="Navs">
            <h1 class="navcards">Machine Learning
                <hr width="75%" ALIGN="center">
            </h1>
            <div class="navlinks">
                <a href="#">Placeholder</a>
                <a href="#">Placeholder</a>
            </div>
        </div>
    </div>

    <div class="n-responsive">
        <div class="Navs">
            <h1 class="navcards">Machine Learning
                <hr width="75%" ALIGN="center">
            </h1>
            <div class="navlinks">
                <a href="#">Placeholder</a>
                <a href="#">Placeholder</a>
            </div>
        </div>
    </div>

    <div class="n-responsive">
        <div class="Navs">
            <h1 class="navcards">Machine Learning
                <hr width="75%" ALIGN="center">
            </h1>
            <div class="navlinks">
                <a href="#">Placeholder</a>
                <a href="#">Placeholder</a>
            </div>
        </div>
    </div>
    <div class="n-responsive">
        <div class="Navs">
            <h1 class="navcards">Machine Learning
                <hr width="75%" ALIGN="center">
            </h1>
            <div class="navlinks">
                <a href="#">Placeholder</a>
                <a href="#">Placeholder</a>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
{% endblock content%}