{% extends "layout.html" %}
{% block content%}
<H1 ALIGN="center" ; style="background-color: rgb(234, 232, 247);">Welcome to Gyrochronology!</H1>

<div class="row">
    <div id="column">
        <h1 ALIGN="center">Coding and Software</h1>
    </div>
    <div id="column">
        <h1 ALIGN="center">History</h1>
        <h2>Welcome!</h2>
        <p>Background information about the project</p>

        <h2>Project Outline</h2>
        <p>Include outline of the project</p>

        <h3><i>TESS Wide Binaries</i> </h3>
        <p>Things about TESS</p>

        <h3><i>Kepler and K2 Fields</i></h3>
        <p>Things about that</p>

        <h3><i>Gaia Archive</i></h3>
        <p>Stuff about the Gaia Archive</p>

        <h2>Technical Applications Used</h2>
    </div>
    <div id="column">
        <h1 ALIGN="center">Refrences</h1>
    </div>
</div>
{% endblock content%}