{% extends "layout.html" %}
{% block content%}

<div class="header">
    <h1>Welcome To the Flask Website</h1>
    <p>
        This website puts together some basic backend work using Flask, along with basic frontend work using HTML and CSS. To make the website interactive, you will need to use JavaScript.
    </p>
</div>

<div class="row">
    <div class="column full">
        <div class="card">
            <h2>Coding and Software</h2>
            <p>
                This website is a working example of an application using Flask.
            </p>

            <p>
                You can include as many dividers you want, they will all have the same styling as long as you are consistent with their classnames and their placements.
            </p>
        </div>
    </div>
</div>

{% endblock content%}